<!-- BEGIN PAGE LEVEL STYLES -->
<link href="../../assets/pages/css/login.min.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL STYLES -->

<div class=" login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="#">
            <img src="../../assets/pages/img/logo-big.png" alt=""/> </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN REGISTRATION FORM -->
        <form class="register-form-new" (ngSubmit)="onRegisterSubmit()">
            <h3 class="font-green">注册</h3>
            <p class="hint"> 请输入个人信息: </p>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">账户</label>
                <input [(ngModel)]="new_username" class="form-control placeholder-no-fix" type="text" autocomplete="off"
                       placeholder="账户" name="username"/></div>

            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">邮箱</label>
                <input [(ngModel)]="new_email" class="form-control placeholder-no-fix" type="text" placeholder="邮箱"
                       name="email"/></div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">密码</label>
                <input [(ngModel)]="new_password" class="form-control placeholder-no-fix" type="password"
                       autocomplete="off" id="register_password" placeholder="输入密码" name="password"/></div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">再次输入密码</label>
                <input [(ngModel)]="conf_new_password" class="form-control placeholder-no-fix" type="password"
                       autocomplete="off" placeholder="再次输入密码" name="rpassword"/></div>
            <div class="form-actions">
                <button (click)="on_back_click()" type="button" id="register-back-btn" class="btn green btn-outline">
                    返回
                </button>
                <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">提交
                </button>
            </div>
        </form>
        <!-- END REGISTRATION FORM -->
    </div>

</div>

<!-- BEGIN PAGE LEVEL SCRIPTS -->

<script src="../../assets/pages/scripts/login.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->